body{
    background-color: aqua;
}
@media screen and (max-width:300px){
    body{
        background-color: rgb(78, 54, 54);
    }
    h1{
        color: green;
    }
}
@media screen and (min-width:301px) and (max-width: 600px){
    body{
        background-color: red;
    }
    h1{
        color: blueviolet;
        font-size: 4em;
    }
}